@import './variables.scss';

.main {
  padding-bottom: 0;
  margin-top: 60px;
}
.post {
  background-color: $cardBackground;
  min-height: calc(100vh + 60px);
  .imageContainer {
    width: 100%; // Set container to 100% of the width of the parent
    overflow: hidden; // hide the overflow of the image
    img {
      display: block;
      width: 100%; // set the width of the image to 100% of the container
      max-height: 400px;
      aspect-ratio: 16 / 9; // Set aspect raito to 16:9
      object-fit: cover; // Scale image to cover the entire area
      object-position: center; // Center the image within the area
    }
  }
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    .author {
      font-size: .8rem;
    }
    .date {
      font-style:italic;
      font-size: .8rem;
      color: $cream4;
    }
    p {
      margin: 0.67rem 0;
    }
    .postBody {
      color: $dark;
      margin: 0 4rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.2rem;
      text-align: justify;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 120px;
  }
  .post {
    .imageContainer {
      img {
        max-height: 200px; // Limit the height of the image to 200px as screen size increases
      }
    }
    .content {
      .postBody {
        margin: 0 1rem;
      }
    }
  }

}
