@import './variables.scss';

.main {
  padding-bottom: 0;
  margin-top: 60px;
}
.post {
  background-color: $cardBackground;
  // min-height: calc(100vh - 120px);
  min-height: calc(100vh + 60px);
  // margin-top: 60px;
  .imageContainer {
    width: 100%; // Set container to 100% of the width of the parent
    // height: 500px; // 500px is the height of the image container
    overflow: hidden; // hide the overflow of the image
    img {
      display: block;
      // position: relative; // position the image relative to the container
      width: 100%; // set the width of the image to 100% of the container
      // top: 50%; // set the top position of the image to 50% of the container
      // transform: translateY(-50%); // translate the image 50% down the y-axis
      max-height: 400px;
      aspect-ratio: 16 / 9; // Set aspect raito to 16:9
      object-fit: cover; // Scale image to cover the entire area
      object-position: center; // Center the image within the area
    }
  }
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    // columns: 50% 2;
    // column-width: 580px;
    // -webkit-columns: 50% 2;
    // -moz-columns: 50% 2;
    .author {
      // font-style:italic;
      font-size: .8rem;
    }
    .date {
      // font-style:italic;
      font-size: .8rem;
    }
    p {
      margin: 0.67rem 0;
    }
    .postBody {
      color: $dark;
      margin: 0 4rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: 1.2rem;
      text-align: justify;
    }
  }

}

@media screen and (max-width: 768px) {
  .main {
    margin-top: 120px;
  }
}
