@import './variables.scss';

.main {
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .authorBio {
    background-color: rgba($dark, 0.6);
    padding: 0 2rem 2rem;
    border-radius: 10px;
    width: 60%;
    .h1 {
      font-family: $fontSanSerif;
      color: darken($blueLight,10%);
    }
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .bioImage {
        max-width: 250px;
        min-width: 180px;
        height: auto;
        border-radius: 50%;
        margin: 1rem .5em;
        border: 2px solid darken($cream1,80%);
        background-color: darken($cream1, 90%);;
        padding: .5em;
        img {
          width: 100%;
          height: auto;
          border-radius: 50%;
        }
      }
      .bioContent {
        text-align: left;
        .h3 {
          font-family: $fontSanSerif;
          color: $light;
        }
        p {
          color: $light;
          margin: 1rem 0;
          text-align: justify;
        }
        .btn {
          color: darken($cream1, 20%);
          text-decoration: none;
          display: inline-block;
          background-color: darken($blueDark, 20%);
          margin: 1rem;
          margin-left: 0;
          padding: 0.25rem 0.5rem;
          font-size: 16px;
          border: none;
          border-radius: 5px;
          transition: all 0.5s ease-out;
          &:hover {
            color: lighten($blueDark, 50%);
            background-color: darken($blueDark, 10%);
            cursor: pointer;
          }
        }

      }
    }


  }

}

@media screen and (max-width: 1200px) {
  .main {
    .authorBio {
      width: 80%;
      .container {
        .bioImage {
          max-width: 180px;
          min-width: 200px;
          height: auto;
          border-radius: 50%;
          margin: 1rem .5em;
          border: 2px solid darken($cream1,80%);
          background-color: darken($cream1, 90%);;
          padding: .5em;
          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1025px) {
  .main {
    .authorBio {
      width: 80%;
      .container {
        flex-direction: column;
        .bioImage {
          max-width: 150px;
          min-width: 100px;
          height: auto;
          border-radius: 50%;
          margin: 1rem .5em;
          border: 2px solid darken($cream1,80%);
          background-color: darken($cream1, 90%);;
          padding: .5em;
          img {
            width: 100%;
            height: auto;
            border-radius: 50%;
          }
        }
        .bioContent {
          .authorBtns {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .bioContent {
    .authorBtns {
      font-size: .5em;
    }
  }
}

@media screen and (max-width: 481px) {
  .main {
    height: 100%;
    .authorBio {
      width: 100%;
      height: 100%;
    }
  }

}

