@import './variables.scss';

.header {
  height: 60px;
  background-color: rgba($blueLight, 0.9);
  color: $dark;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      font-family: $fontHandwriting;
      font-size: 3rem;
      font-weight: 700;
      color: darken($info, 30%);
    }
    .logo {
      width: 30px;
      height: 30px;
      margin-right: 1rem;
    }
  }
  .search {
    // width: 100px;
    height: 35px;
    display: flex;
    margin-right: 1rem;
    input {
      height: 35px;
      width: 250px;
      color: $light;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid $grayDarker;
      border-right: none;
      background-color: rgba($dark, 0.5);
      padding-left: 0.5rem;
      &:focus-visible {
        // border-color: $primary;
        outline: none;
      }
      &::placeholder {
        color: darken($light, 20%);
      }
    }

    button {
      color: $grayLight;
      width: 35px;
      height: 35px;
      background-color: $dark;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid $grayDarker;
      border-left: none;
      // border-radius: 5px;
      transition: all 0.5s ease-out;
      &:hover {
        background-color: $blueDark;
        color: $light;
        cursor: pointer;
      }
    }
  }
  .navlink {
    color: $grayDark;
    font-size: $medium;
    font-weight: 400;
    padding: 0 10px;
    text-decoration: $none;
    transition: all 0.5s ease-out;
    &:hover {
      color: darken($primary, 10%);
    }
    .active {
      color: darken($primary, 20%);
    }
  }
  .active {
    color: $blueDark;
  }
}
