@import './variables.scss';

.header {
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 52, 59, 0.95);
  color: $dark;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 5;
  .queryContainer {
    position: absolute;
    background-color: rgba($dark, 0.9);
    top: 60px;
    left: 50%;
    transform: translate(-50%, -30%) scale(0.8);
    min-width: 400px;
    padding: 1em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border: 1px solid lighten($dark, 30%);
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    h3 {
      color: darken($light, 20%);
      font-size: 1.5em;
      font-weight: 700;
      margin: 0 0 0.5em;
    }
    .articleLink {
      color: darken($primary, 0%);
      text-decoration: none;
      transition: color 0.4s ease-out;
      &:hover {
        color: lighten($primary, 20%);
      }
    }
  }
  .show {
    opacity: 1;
    transform: translate(-50%, 0%) scale(1);
  }
  .logoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .logoLink {
      text-decoration: none;
      h3 {
        font-family: $fontHandwriting;
        font-size: 3rem;
        font-weight: 700;
        color: darken($blueLight, 10%);
        padding: 0 20px;
        text-shadow: 1px 2px 5px rgb(26, 69, 7);
        transition: all 0.5s ease-out;
        &:hover {
          color: darken($blueLight, 0%);
        }
      }
    }
    .logo {
      width: 30px;
      height: 30px;
      margin-right: 1rem;
    }
  }
  .search {
    height: 35px;
    display: flex;
    input {
      height: 35px;
      width: 300px;
      color: $light;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border: 1px solid $grayDarker;
      border-right: none;
      background-color: rgba($dark, 0.5);
      padding-left: 0.5rem;
      &:focus-visible {
        outline: none;
      }
      &::placeholder {
        color: darken($light, 20%);
      }
    }

    button {
      color: $grayLight;
      width: 35px;
      height: 35px;
      background-color: $dark;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: 1px solid $grayDarker;
      border-left: none;
      // border-radius: 5px;
      transition: all 0.5s ease-out;
      &:hover {
        background-color: $blueDark;
        color: $light;
        cursor: pointer;
      }
    }
  }
  .navlink {
    color: darken($primary, 5%);
    font-size: $medium;
    font-weight: 400;
    padding: 0 10px;
    text-decoration: $none;
    transition: all 0.5s ease-out;
    &:hover {
      color: lighten($primary, 10%);
    }
    .active {
      color: darken($primary, 0%);
    }
  }
  .active {
    color: $blueLight;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 1rem;
    .logoWrapper {
      h3 {
        font-size: 2rem;
      }
    }
    .search {
      input {
        width: 200px;
      }
      button {
        width: 35px;
        height: 35px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .main {
    margin-top: 120px;
  }
  .header {
    padding: 0 1rem;
    flex-direction: column;
    height: 120px;
    .logoWrapper {
      .logoLink {
        h3 {
          font-size: 2rem;
          margin: 0.5rem 0;
        }
      }

    }
    .search {
      input {
        width: 200px;
      }
      button {
        width: 35px;
        height: 35px;
      }
    }
    nav {
      margin: 0.5rem 0;
    }
  }
}
