@import './variables.scss';

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: calc(100vh - 120px);
  padding: 0 4rem;
  .sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4rem 1rem 0;
  }
  .content {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // gap: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    padding: 4rem 0.25rem 0.25rem 0.25rem;
    .h3 {
      color: $blueDark;
      font-size: $large;
      font-weight: 700;
      padding: 0 10px;
      margin: 0 0 0.5rem 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .sidebar {
      width: 100%;
      padding: 0;
      // justify-content: space-around;
      align-items: center;
    }
    .content {
      width: 100%;
      padding: 0;
    }
  }
}

