@import './variables.scss';

.tags {
  padding: 0.25rem;
  margin: 0 0 1rem 0;
  min-width: 100%;
  // max-width: 500px;
  justify-self: center;
  // max-width: calc(50% - 2rem);
  box-shadow: 0 2px 4px #3a474e26, 0 1px 2px #3a474e26;
  // background-color: $cardBackground;
  border-radius: 5px;
  z-index: 1;
  .h3 {
    color: darken($cream1, 0%);
    background-color: rgba($cream4, 1);
    border-radius: 5px;
    padding: 0.3rem 0.25rem 0.3rem 0.25rem;
    font-size: $large;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    text-align: center;
  }
  .tag {
    color: $light;
    background-color: darken($secondary, 30%);
    padding: 0.25em 0.5em;
    text-decoration: none;
    border-radius: 5px;
    margin: 0 0.25em 0.25em 0;
    float: left;
    transition: all 0.5s ease-out;
    &:hover {
      color: $light;
      background-color: darken($secondary, 20%);
    }
  }
}

@media screen and (max-width: 768px) {
  .tags {
    // min-width: 300px;
    min-width: 100%;
    max-width: 500px;
  }
}
